In [1]:
import requests
import pandas as pd

url = "https://airbnb19.p.rapidapi.com/api/v1/searchDestination"

querystring = {"query":"Chicago","country":"USA"}

headers = {
	"x-rapidapi-key": "YOUR_KEY",
	"x-rapidapi-host": "airbnb19.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

data= response.json()

In [5]:
df = pd.DataFrame(data["data"])[['id','location_name','countryCode','display_name']]
df.head()

,id,location_name,countryCode,display_name
0,ChIJ7cv00DwsDogRAMDACa2m4K8,"Chicago, IL, United States",US,"Chicago, IL"
1,ChIJ7cv00DwsDogRAMDACa2m4K8,"Chicago, IL, United States",US,"Chicago, IL stays"
2,ChIJ7cv00DwsDogRAMDACa2m4K8,"Chicago, IL, United States",US,"Chicago, IL experiences"
3,ChIJH4ylJLssDogRsnTrGIEMnEY,"Chicago Loop, Chicago, IL, USA",US,"Chicago Loop, Chicago, IL"
4,ChIJF2eEdK8sDogR_bsJDuvHPbw,"Downtown Chicago, Chicago, IL, United States",US,"Downtown Chicago, Chicago, IL"